pandas
geopandas
shapely
pyproj
rasterio
fiona
pyogrio
rtree
rasterstats
numpy
scipy
scikit-learn
statsmodels
matplotlib
contextily
seaborn
osmnx
networkx
requests
tqdm
pyyaml
pyarrow
fastparquet
pillow
huggingface_hub
